# Python
__pycache__/
*.py[cod]
*$py.class

# Models and Checkpoints
*.pt
*.pth
checkpoints/
checkpoints_codec/
checkpoints_codec_gan/
out6/
out7/
overfit_results_v4/
audio_recon.wav
gt_recon.wav
codec_modelbkup.pth

# Datasets
dummy_sharded_dataset/
*.parquet

# Output Audio
*.wav

# System
.DS_Store
